body {
  margin: 0px;
  background:url('Untitled.jpg');
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pantry-button, button {
  font-weight: lighter;
  font-size: x-large;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: orange;
  border: 4px yellow solid;
  border-radius: 15px;
  transition: all 0.2s ease-in;
}

.pantry-button:hover, button:hover {
  border-radius: 0px;
  border-color: white;

}

h1 {
  color: rgb(0, 0, 0);
  margin: 12px;
}

ul {

  margin-left: auto;
  margin-right: auto;
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
  background-color: wheat;
  width: max-content;
  
}

ul li::before {
  content: "\2022";
  color: red; 
  font-size: 20px; 
  margin-right: 10px;
  padding: 15px; 
}

li {
  width: fit-content;
  padding: 6px;
  transition: all 0.2s ease-in;
}
li:hover {
  color: rgb(198, 88, 15);
  cursor: default;
}

label {
  font-size: larger;
  font-weight: 800;
  padding: 5px;
}

input, select {
  margin-left: 4px;
  padding: 2px;
  background-color: #ffffff;
  border: 2px solid rgb(255, 255, 255);
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  transition: all 0.3s;
}

form {
  text-align: center;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}